body {
  font-family: 'Arial', sans-serif; 
  background: #f4f4f4; 
  margin: 0;
  padding: 0;
  padding-top: 40px; /* Added to account for the fixed top bar height */

}

#top-bar {
  background-color: #333;
  color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo {
  height: 30px; /* Or any other size that fits well */
  margin-right: 10px;
}

.logo-container .top-bar-title {
  font-size: 20px; /* Or the size you prefer */
}


.side-panel {
  background: #333;
  width: 200px;
  height: calc(100vh - 60px);
  float: left;
  padding-top: 20px; 
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: #555;
}

.sidebar-menu li a i {
  margin-right: 10px;
}

.sidebar-menu li i {
  width: 20px; /* Ensures that the icon has space to display */
  min-width: 20px; /* Ensures that the icon does not shrink */
  text-align: center; /* Centers the icon */
  margin-right: 8px; /* Adds some space between the icon and the text */
}




.title-dropdown {
    grid-column: 1 / -1; /* Makes the title dropdown span all columns in the grid */
    max-width: 70px;
  }
  
.form-container {
display: grid;
grid-template-columns: repeat(2, 1fr); /* Two equal columns */
gap: 20px; /* Space between the grid items */
margin-bottom: 20px; /* Space below the grid container */

}


.main-content {
  margin-left: 200px; /* This should be the same as the side-panel width */
  padding: 20px; 
  background: #fff; 
  max-height: calc(100vh - 80px);
  overflow-y: auto; /* Enables vertical scrolling if content exceeds max height */
}

h1 {
  font-size: 24px; 
  color: #333; 
}

.form-group {
  width: 450px; /* Or any fixed width you prefer */
  margin-bottom: 20px; /* Spacing between form groups */
}


label {
  display: block;
  margin-bottom: 5px; /* Spacing between label and input */
  color: #333; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%; /* Full width */
  padding: 10px; 
  margin-bottom: 10px; /* Spacing between inputs */
  border: 1px solid #ddd; /* Border color */
  border-radius: 4px; /* Rounded corners */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #5b9bd5; /* Focus color */
  outline: none;
}

button.save-button {
  background-color: #007bff; /* Button background */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
}

button.save-button:hover {
  background-color: #0056b3; /* Darker background on hover */
}